/* -------------------------------------
    FUENTES UTILIZADAS
   -------------------------------------
*/

@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* 

██████╗░░█████╗░██╗░░░░░███████╗████████╗░█████╗░
██╔══██╗██╔══██╗██║░░░░░██╔════╝╚══██╔══╝██╔══██╗
██████╔╝███████║██║░░░░░█████╗░░░░░██║░░░███████║
██╔═══╝░██╔══██║██║░░░░░██╔══╝░░░░░██║░░░██╔══██║
██║░░░░░██║░░██║███████╗███████╗░░░██║░░░██║░░██║
╚═╝░░░░░╚═╝░░╚═╝╚══════╝╚══════╝░░░╚═╝░░░╚═╝░░╚═╝
    PALETA DE COLORES A UTILIZAR
*/

:root {
    --DARK-GOLDENROD: #b08401;
    --TAN:#d49e8d;
    --DUST-STORM:#ded1bd;
    --WHITE-SMOKE:#faf6f2;
    --VAN-DYKE-BROWN:#683b2b;
}

/* 



███████╗██╗░░░░░███████╗███╗░░░███╗███████╗███╗░░██╗████████╗░█████╗░░██████╗
██╔════╝██║░░░░░██╔════╝████╗░████║██╔════╝████╗░██║╚══██╔══╝██╔══██╗██╔════╝
█████╗░░██║░░░░░█████╗░░██╔████╔██║█████╗░░██╔██╗██║░░░██║░░░██║░░██║╚█████╗░
██╔══╝░░██║░░░░░██╔══╝░░██║╚██╔╝██║██╔══╝░░██║╚████║░░░██║░░░██║░░██║░╚═══██╗
███████╗███████╗███████╗██║░╚═╝░██║███████╗██║░╚███║░░░██║░░░╚█████╔╝██████╔╝
╚══════╝╚══════╝╚══════╝╚═╝░░░░░╚═╝╚══════╝╚═╝░░╚══╝░░░╚═╝░░░░╚════╝░╚═════╝░

░██████╗░███████╗███╗░░██╗███████╗██████╗░░█████╗░██╗░░░░░███████╗░██████╗
██╔════╝░██╔════╝████╗░██║██╔════╝██╔══██╗██╔══██╗██║░░░░░██╔════╝██╔════╝
██║░░██╗░█████╗░░██╔██╗██║█████╗░░██████╔╝███████║██║░░░░░█████╗░░╚█████╗░
██║░░╚██╗██╔══╝░░██║╚████║██╔══╝░░██╔══██╗██╔══██║██║░░░░░██╔══╝░░░╚═══██╗
╚██████╔╝███████╗██║░╚███║███████╗██║░░██║██║░░██║███████╗███████╗██████╔╝
░╚═════╝░╚══════╝╚═╝░░╚══╝╚══════╝╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝╚═════╝░
                                                                                                 
        html,body,hS,etc                                                      


*/

body {
    font-family: "Host Grotesk";
    display: flex;
    overflow: hidden;
    background-color: white;
    overflow-y: hidden;
    display: flex;
    margin: 0;
    background-color: var(--WHITE-SMOKE);
    border: none;
}

main {
    height: 98vh;
    width: 100%;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total del contenedor */
    border: 1px solid gray;
    background-color: var(--DUST-STORM);
    overflow-x: hidden;
    overflow-y: auto;
}


main::-webkit-scrollbar {
    width: 5px;
}

main::-webkit-scrollbar-track {
    background-color: transparent;
}
main::-webkit-scrollbar-thumb {
    background-color: rgb(155, 149, 149);
    border-radius: 20px;
}



h1,h2,h3,h4,h5,h6 {margin: 0; color: var(--VAN-DYKE-BROWN);}
/* SCROLL DEL CONTENIDO PRINCIPAL */


input{
    font-size: 19px;
    border: 1px solid gray;
    border-radius: 10px;
    background: none;
    transition: border 0.5s;
    
}
input:hover{
    border: 1px solid black;
}
/* ------------------------- ------------------------- ------------------------- ------------------------- ------------------------- */

/* 
░█████╗░░██████╗██╗██████╗░███████╗
██╔══██╗██╔════╝██║██╔══██╗██╔════╝
███████║╚█████╗░██║██║░░██║█████╗░░
██╔══██║░╚═══██╗██║██║░░██║██╔══╝░░
██║░░██║██████╔╝██║██████╔╝███████╗
╚═╝░░╚═╝╚═════╝░╚═╝╚═════╝░╚══════╝


    ESTILOS PARA LA BARRA DE NAVEGACION LATERAL

*/

.library-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgL {
    text-align: center;
    margin: 8px;
    width: 50px;
    height: 50px;
}

.aside-nav-section {
    width: 280px;
    height: 100vh;
    border-right: 1px solid gray ;
}

.nav-element a svg {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.nav-options-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-element {
    width: fit-content;
    align-items: center;
    cursor: pointer;
    margin-left: 15%;
    list-style: none;
}

.nav-element:hover .icon {
    background-color: var(--DARK-GOLDENROD);
    stroke: white;
}

.icon {
    stroke: black;
    transition: stroke 0.5s, background-color 0.5s;
}

.user-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav hr {
    width: 90%;
}

.nav-element a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}


.nav-element a svg {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: var(--mountbatten-pink);
    padding: 5px;
}

a:visited {
    color: black;
}


/* 

██████╗░██████╗░██╗███╗░░██╗░█████╗░██╗██████╗░░█████╗░██╗░░░░░
██╔══██╗██╔══██╗██║████╗░██║██╔══██╗██║██╔══██╗██╔══██╗██║░░░░░
██████╔╝██████╔╝██║██╔██╗██║██║░░╚═╝██║██████╔╝███████║██║░░░░░
██╔═══╝░██╔══██╗██║██║╚████║██║░░██╗██║██╔═══╝░██╔══██║██║░░░░░
██║░░░░░██║░░██║██║██║░╚███║╚█████╔╝██║██║░░░░░██║░░██║███████╗
╚═╝░░░░░╚═╝░░╚═╝╚═╝╚═╝░░╚══╝░╚════╝░╚═╝╚═╝░░░░░╚═╝░░╚═╝╚══════╝
    ESTILOS PARA EL CONTENIDO PRINCIPAL DE EXPLORAR EL CATALOGO
*/

.multas-historial{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.multas-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.multa-card{
    width: 200px;
    min-height: 100px;
    height: fit-content;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    transition: scale 1.5s,background-color 1.5s;
    display: flex;
    cursor: pointer;
}
.info-multa-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.multa-card h4,.multa-card h5{color: white;}



/* COLOR PERSONALZIADO PARA EL ESTADO DEL PRESTAMO */

.pendiente{
    background-color: rgb(143, 41, 41);
}

.pendiente:hover{
    background-color: rgb(210, 36, 36);
}
.pagada{
    background-color: rgb(45, 115, 45);
}
.pagada:hover{
    background-color: rgb(46, 165, 46);
}
