@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* ------------------------------------------ */



:root{
    --bg-btns-hover-modal: #0055ff;
}


/* ESTILOS GENERALES */

/* ------------------------------------------ */



body {
    font-family: "Host Grotesk";
    display: flex;
    overflow: hidden;
    background-color: white;
    display: flex;
    margin: 0;
}
main {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 10px;
}

nav hr {
    width: 90%;
}

a:visited{
    color: black;
}





/* ------------------------------------------ */
/* SCROLLBAR ESTILOS */
/* ------------------------------------------ */

.mi-libreria::-webkit-scrollbar{
    width: 5px;
}

.mi-libreria::-webkit-scrollbar-track{
    background-color: transparent;
}
.mi-libreria::-webkit-scrollbar-thumb{
    background-color: rgb(155, 149, 149);
    border-radius: 20px;
}




/* ------------------------------------------ */
/* ASIDE MENU - ESTILOS */
/* ------------------------------------------ */


.aside-nav-section {
    width: 280px;
    height: 100vh;
    border: 1px solid black;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}



.nav-options-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.nav-element {
    display: flex;
    width: fit-content;
    align-items: center;
    cursor: pointer;
    margin-left: 25%;
    color: black;
}




.nav-element:hover .icon {
    stroke: white;
}

.library-title {
    display: flex;
    justify-content: center;
}
#imgL {
    text-align: center;
    margin: 8px;
    width: 50px;
    height: 50px;
}


.user-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-element a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}


.nav-element a svg{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(218, 199, 199);
    padding: 5px;
}


.nav-element:hover .icon {
    stroke: white;
    background-color: #0055ff;
}


.nav-element a h4{
    margin: 0;
}



/* ----------------------------------- */
/* SECTION : Mi libreria*/
/* ----------------------------------- */


.mi-libreria{
    margin-top: 10px;
    border: 1px solid gray;
    margin-bottom:10px;
    border-radius: 10px;
    padding: 10px;
    height: 95%;
}


.books-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}



/* ----------------------------------- */
/* BOOK CARD                            */
/* ----------------------------------- */

.book-card {
    padding: 5px;
    width: 150px;
    max-width: 150px;
    border: none;
    height: auto;
    cursor: pointer;
}

.img-book-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 150px;
    border: none;
    margin: none;
    margin: 0;
}

.img-book-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 150px;
    border: none;
    margin: none;
    margin: 0;
}

.book-card {
    width: 150px;
    max-width: 150px;
    border: none;
    height: auto;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0;
}


.book-card-info-container h4 ,
.book-card-info-container h5{
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding: 0;
}


.book-card-info-container {
    padding: 0;
    
}


/* ESTILOS MODAL - GENERAL */

.modal{
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4); 
    padding: 0;
}


.modal-content{
    display: flex;
    margin: auto;
    background-color: white;
    height: fit-content;
    width: fit-content;
    border: 1px solid gray;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
}


.btns-modal{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    padding: 5px;
    background:none;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s , color 0.5s;
    width: fit-content;
}

.btns-modal svg{
    transition: stroke 0.5s;
}
.btns-modal:hover svg{
    stroke: white;
}
.btns-modal:hover {
    color: white;
    background-color: var(--bg-btns-hover-modal);
}



.modal-content h1,
.modal-content h2,
.modal-content h3,
.modal-content h4,
.modal-content h5,
.modal-content h6{
    margin: 0;
}

.modal-btns-interactive{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#libro-sinopsis{
    width: 100%;
    text-align: center;
}

.libro-info-container{
    width: 400px;
    height: fit-content;
    overflow-y: auto;
    text-align: center;
}

.libro-info-container::-webkit-scrollbar{
    width: 5px;
}

.libro-info-container::-webkit-scrollbar-track{
    background-color: transparent;
}
.libro-info-container::-webkit-scrollbar-thumb{
    background-color: rgb(155, 149, 149);
    border-radius: 20px;
}

.modal-img-libro{
    width: 250px;
    height: 400px;  
}




/* ESTILOS MODAL - INDIVIDUALES */
/* ------------------------------------ */
/* MODAL - MOSTRAR LIBRO */


#devolver-libro-btn{
    padding: 0;
    padding: 10px;
    border: none;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    transition: background-color 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

#devolver-libro-btn:hover{
    background-color: #0055ff;
    color: white;

}
#devolver-libro-btn:hover svg{
    stroke: white;
}



.btn-devolver-prestamo{
    padding: 0;
    padding: 10px;
    border: none;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    transition: background-color 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

#confirmar-devolver-btn:hover{
    background-color: rgb(107, 169, 107);
}

#cancelar-devolver-btn:hover{
    background-color: rgb(210, 32, 32);
}


#form-devolver-libro{
    display: flex;
     gap: 20px;
     justify-content: center;
}