@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* VARIABLES GLOBALES */
:root {
    --apricot: #ffcdb2ff;
    --melon: #ffb4a2ff;
    --salmon-pink: #e5989bff;
    --old-rose: #b5838dff;
    --dim-gray: #6d6875ff;

    --black: #070707ff;
    --violet-jtc: #553555ff;
    --eggplant: #755b69ff;
    --cambridge-blue: #96c5b0ff;
    --aquamarine: #adf1d2ff;

    --nyanza: #eaf4d3ff;
    --vanilla: #dbd8aeff;
    --rosy-brown: #ca907eff;
    --chestnut: #994636ff;
    --golden-brown: #895b1eff;

    --eggplant: #533747ff;
    --english-violet: #5f506bff;
    --paynes-gray: #6a6b83ff;
    --cadet-gray: #76949fff;
    --tiffany-blue: #86bbbdff;
}
/* ------------------------------------------ */

/* ESTILOS GENERALES */

/* ------------------------------------------ */


body {
    font-family: "Host Grotesk";
    display: flex;
    overflow: hidden;
    background-color: white;
    display: flex;
    margin: 0;
}
main {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

nav hr {
    width: 90%;
}

a:visited{
    color: black;
}

/* ------------------------------------------ */
/* ASIDE MENU - ESTILOS */
/* ------------------------------------------ */
.aside-nav-section {
    width: 280px;
    height: 100vh;
    border: 1px solid var(--black);
    background-color: white;
    /* border-radius: 10px; */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
}



.nav-options-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.nav-element {
    display: flex;
    width: fit-content;
    align-items: center;
    cursor: pointer;
    margin-left: 25%;
    color: black;
}




.nav-element:hover .icon {
    stroke: white;
}

.library-title {
    display: flex;
    justify-content: center;
}
#imgL {
    text-align: center;
    margin: 8px;
    width: 50px;
    height: 50px;
}


.user-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-element a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
}


.nav-element a svg{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(218, 199, 199);
    padding: 5px;
}


.nav-element:hover .icon {
    stroke: white;
    background-color: #0055ff;
}


.nav-element a h4{
    margin: 0;
}
/* ------------------------------------------ */
/* SECCION - RECOMENDADOS ESTILOS */



.recomendados {
    width: 96%;
    border: 1px solid var(--black);
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 15px;
    margin-top: 20px;
}


.recommended-books {
    display: flex;
    gap: 20px;
}
/* ------------------------------------------ */





.icon {
    stroke: black;
    transition: stroke 0.5s,background-color 0.5s;

}





.navegar {
    border: 1px solid var(--black);
    width: 100%;
    height: 60px;
    padding: 10px;
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.libreria {
    border: 1px solid var(--black);
    border-radius: 10px;
    width: 96%;
    background-color: white;
    margin-left: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.libreria-header {
    margin-bottom: 24px;
}


.libreria-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.login-section {
    display: flex;
    align-items: center;
}

.login-section h3 {
    margin-right: 50px;
}



#input-search-books {
    width: 600px;
    border-radius: 5px;
    margin-left: 15px;
    font-size: 20px;
    background-color: #eff1f5;
    height: 45px;
}

.img-book-card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 150px;
    border: none;
    margin: none;
    margin: 0;
}

.book-card {
    width: 150px;
    max-width: 150px;
    border: none;
    height: auto;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10px;
}


.book-card-info-container h4 {
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding: 1px;
}

.book-card-info-container h5 {
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding: 0;
}

.book-card-info-container {
    padding: 0;
    /* border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    
}
.header-recommended {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#see-all {
    margin: 0;
    height: fit-content;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 1s;
    font-weight: bolder;
    color: rgb(58, 58, 211);
    display: flex;
    align-items: center;
}

#see-all:hover {
    background-color: rgb(184, 192, 240);
}

.login-btn {
    display: flex;
    background: none;
    align-items: center;
    border: none;
    cursor: pointer;
    width: fit-content;
}

.login-btn h3 {
    margin: 0;
    padding: 0;
}



.category-btn:hover {
    background-color: #0055ff;
    color: white;
}

.category-btn h4 {
    margin: 0;
}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding: 0;
}
.modal-content{
    display: flex;
    margin: auto;
    background-color: white;
    width: 1000px;
    border: 1px solid gray;
    padding: 30px;
    border-radius: 10px;
}


.book-info-container{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    overflow-y: scroll;
}

.modal-img-book{
    width: 400px;
}

.image-modal-book-container{
    display: flex;
    flex-direction: column;
}
.modal-btns-interactive{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.btns-modal{
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    color: black;
}


#add-favorites-btn{
    transition: background-color 1s , color 1s;
}
#add-favorites-btn:hover{
    background-color: red;
    color: white;
}


#add-favorites-btn:hover .icon{
    stroke: white;
}


.categories-modal-list{
    display: flex;
    gap: 10px;
    list-style: none;
}
.categories-modal-list li{
    border: 1px solid gray;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;

}

.categories-modal-list li h3{
    margin: 0;
}


.book-info-container h2,
.book-info-container h3 {
    margin: 0;
}

/* --------------------------------------- */
/* SCROLLBAR ESTILOS */
/* --------------------------------------- */
main::-webkit-scrollbar{
    width: 5px;
}

main::-webkit-scrollbar-track{
    background-color: transparent;
}
main::-webkit-scrollbar-thumb{
    background-color: rgb(155, 149, 149);
    border-radius: 20px;
}



.book-info-container::-webkit-scrollbar{
    width: 5px;
}

.book-info-container::-webkit-scrollbar-track{
    background-color: transparent;
}
.book-info-container::-webkit-scrollbar-thumb{
    background-color: rgb(155, 149, 149);
    border-radius: 20px;
}



#img-book-prestamo{
    width: 150px;
    height: 200px;
}



#modal-content-prestamo{
    width: 500px;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

#form-prestamo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* 
#modal-prestamo{
    display: flex;
} */

.info-book-prestamo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 10px;
}

.info-book-prestamo h4,
.info-book-prestamo h5{
    margin: 0;
}

#confirmar-prestamo-btn{
    padding: 0;
    padding: 10px;
    border: none;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 50px;
    transition: background-color 0.5s;
    cursor: pointer;
}


#confirmar-prestamo-btn:hover{
    background-color: rgb(91, 211, 91);
}


.modal-content-show-book{
    height: fit-content;
}