
.aside-nav-section {
    width: 230px;
    height: 97vh;
    margin-top: 1vh;
    border: 1px solid var(--black);
    background-color: var(--salmon-pink);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.nav-options {
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-element {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-left: 25%;
}


.nav-element:hover .button-nav-element {
    background-color: #0055ff;
}

.nav-element:hover .icon {
    stroke: white;
}

.icon {
    transition: stroke 0.5s;
}



.button-nav-element {
    background: none;
    border: none;
    cursor: pointer;
    background-color: rgb(243, 227, 227);
    height: fit-content;
    border-radius: 10px;
    transition: background-color 0.5s;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav hr {
    width: 90%;
}

body {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
}

body,html{
    width: 100%;
    height: 100%;
}

.user-menu {
    width: 100%;
    margin: 0;
    padding: 0;
}

main{
    margin-top: 20px;
    border: 1px solid gray;
    width: 83%;
    height: 90%;
    padding: 20px;
    overflow-y: scroll;

}

.recommended-books{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: fit-content;
}

.img-book-card{
    width: 200px;
}

.header-recommended{
    display: flex;
    justify-content: space-between;
    align-items: center;
}