:root{
    --apricot: #ffcdb2ff;
    --melon: #ffb4a2ff;
    --salmon-pink: #e5989bff;
    --old-rose: #b5838dff;
    --dim-gray: #6d6875ff;

    --black: #070707ff;
    --violet-jtc: #553555ff;
    --eggplant: #755b69ff;
    --cambridge-blue: #96c5b0ff;
    --aquamarine: #adf1d2ff;
}

body{
    display: flex;
}

.lib{
    text-align: center;
}

body {
    display: flex;
    margin: 0;
}

.aside-nav-section {
    width: 280px;
    height: 97vh;
    margin-top: 1vh;
    border: 1px solid var(--black);
    background-color: var(--salmon-pink);
    border-radius:10px ;
    margin: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
}

.nav-options {
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-element {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin-left: 25%;
}

.nav-element:hover .button-nav-element {
    background-color: #0055ff;
}


.nav-element:hover .icon {
    stroke: white;
}


.icon{
    transition: stroke 0.5s;
}

.button-nav-element {
    background: none;
    border: none;
    cursor: pointer;
    background-color: rgb(243, 227, 227);
    height: fit-content;
    border-radius: 10px;
    transition: background-color 0.5s;
    padding-top: 5px;
    padding-bottom: 5px;
}

.user-menu{
    width: 100%;
    margin: 0;
    padding: 0;
}
nav hr{
    width: 90%;
}

body{
    display: flex;
}

.navegar{
    border: 1px solid var(--black);  
    border-radius: 10px;
    width: 100%;
  
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.recomendados{
    width: 97%;
    border: 1px solid var(--black);  
    border-radius: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.recommended-books{
    display: flex;
    gap: 10px;
}
.categorias{
    border: 1px solid var(--black);  
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, 10%));
    gap: 10px;
}

.galeria img {
    width: 50%;
    height: 50%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.galeria img:hover {
    transform: scale(1.05);
}

.libro1{
    display: block;
    box-shadow: 0 4px 8px var(--violet-jtc);
    border: 5px solid var(--aquamarine);
    text-align: center;
}

.login-section{
    display: flex;
    align-items: center;
}

.login-section h3{
    margin-right: 50px;
}


main{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#input-search-books{
    border-radius: 5px;
    margin-left: 15px;
    font-size: larger;
    background-color: #eff1f5;
}

.img-book-card{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 150px;
    border: none;
    margin: none;
}

.book-card{
    padding: 5px;
    width: 150px;
    max-width: 150px;
    /* border: 1px solid gray;
    border-radius: 10px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    border: none;
   
}

.book-card-info-container h4{
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    
}

.book-card-info-container h5{
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding: 0;
}

.book-card-info-container{
    padding: 0;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}