:root {
  --apricot: #ffcdb2ff;
  --melon: #ffb4a2ff;
  --salmon-pink: #e5989bff;
  --old-rose: #b5838dff;
  --dim-gray: #6d6875ff;
  --black: #070707ff;
  --violet-jtc: #553555ff;
  --eggplant: #755b69ff;
  --cambridge-blue: #96c5b0ff;
  --aquamarine: #adf1d2ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

html{
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(150deg, #b5838dff, #ffcdb2ff);
  background-repeat: no-repeat;
<<<<<<< HEAD
  background-position: center;
  background-attachment: fixed;
  color: var(--dim-gray);
  height: 100%;
  height: 100%;
=======
  background-size: cover;
>>>>>>> ac4f6a4ebab0d0e7c8dcdbe83eb2896306f80649
}

main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

.contenedor__todo {
  max-width: 800px;
  margin: auto;
  position: relative;
}

.caja__trasera {
<<<<<<< HEAD
  width: 100%;
  height: 600px;
  padding: 10px 20px;
=======
>>>>>>> ac4f6a4ebab0d0e7c8dcdbe83eb2896306f80649
  display: flex;
  justify-content: center;
  width: 100%;
}

.caja__trasera div {
  margin: 140px 40px;
  color: white;
}

.caja__trasera div p,
.caja__trasera button {
  margin-top: 30px;
}

.caja__trasera div h3 {
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera button {
  padding: 10px 40px;
  border: 2px solid var(--apricot);
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}

.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -105px;
  left: 10px;
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenedor__login-register form {
  width: 100%;
  padding: 50px 20px;
  background: var(--apricot);
  position: absolute;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: var(--apricot);
  color: var(--black);
  font-size: 16px;
  outline: none;
  border-radius: 5px;
}

.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: var(--melon);
  font-weight: 600;
  cursor: pointer;
  color: var(--black);
  outline: none;
  border-radius: 5px;
  transition: background 300ms, color 300ms;
}

.contenedor__login-register form button:hover {
  background: var(--eggplant);
  color: var(--apricot);
}

.formulario__login {
  opacity: 1;
  display: block;
}

.formulario__register {
  display: none;
}

/* Hacer que las cajas traseras estén al mismo nivel */
.caja__trasera-login, .caja__trasera-register {
  width: 50%; /* Asegura que ambas cajas tengan el mismo ancho */
  position: relative;
}

@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }

  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }

  .caja__trasera div {
    margin: 0px;
    position: absolute;
  }

  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }

  .contenedor__login-register form {
    position: relative;
  }
}

/* Estilo del selector */
select {
  background-color: var(--apricot);
  color: #333;
  appearance: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: large;
}

select:focus {
  outline: none;
  background-color: bisque;
}
